[submodule "plugins/aws-vault"]
	path = plugins/aws-vault
	url = https://github.com/karancode/asdf-aws-vault.git
	branch = main
[submodule "plugins/circleci-cli"]
	path = plugins/circleci-cli
	url = git@github.com:ucpr/asdf-circleci-cli.git
	branch = main
[submodule "plugins/crystal"]
	path = plugins/crystal
	url = https://github.com/farkasmate/asdf-crystal.git
	branch = arm64
[submodule "plugins/gcloud"]
	path = plugins/gcloud
	url = git@github.com:jthegedus/asdf-gcloud.git
	branch = main
[submodule "plugins/kind"]
	path = plugins/kind
	url = https://github.com/johnlayton/asdf-kind.git
	branch = master
[submodule "plugins/kubectl"]
	path = plugins/kubectl
	url = https://github.com/asdf-community/asdf-kubectl.git
	branch = master
[submodule "plugins/kustomize"]
	path = plugins/kustomize
	url = https://github.com/Banno/asdf-kustomize.git
	branch = master
[submodule "plugins/mdbook"]
	path = plugins/mdbook
	url = https://github.com/farkasmate/asdf-mdbook.git
	branch = main
[submodule "plugins/python"]
	path = plugins/python
	url = https://github.com/asdf-community/asdf-python.git
	branch = master
[submodule "plugins/yamlfmt"]
	path = plugins/yamlfmt
	url = https://github.com/kachick/asdf-yamlfmt.git
	branch = main
[submodule "plugins/jq"]
	path = plugins/jq
	url = https://github.com/lsanwick/asdf-jq.git
	branch = master
[submodule "plugins/yq"]
	path = plugins/yq
	url = https://github.com/sudermanjr/asdf-yq.git
	branch = master
