[submodule "plugins/crystal"]
	path = plugins/crystal
	url = https://github.com/farkasmate/asdf-crystal.git
	branch = arm64
[submodule "plugins/kubectl"]
	path = plugins/kubectl
	url = https://github.com/asdf-community/asdf-kubectl.git
	branch = master
[submodule "plugins/kustomize"]
	path = plugins/kustomize
	url = https://github.com/Banno/asdf-kustomize.git
	branch = master
[submodule "plugins/mdbook"]
	path = plugins/mdbook
	url = https://github.com/farkasmate/asdf-mdbook.git
	branch = main
[submodule "plugins/python"]
	path = plugins/python
	url = https://github.com/asdf-community/asdf-python.git
	branch = master
